#wrapper {
  position: relative;
  max-width: 900px;
  margin: 0 auto;   /*全体の中央寄せ*/
}

#container {
  width: 100%;
  margin: 0 auto;   /*中央寄せ*/
  position: relative;
  border:1px solid #dadada;
}

.item {
  margin: 5px;
  padding: 4px;
  background: #7cbef7;
  width: 140px;
  border: 1px solid #eee;
}

.item.x2 {
  width: 300px;
}
.item.x3 {
  width: 460px;
}
.item img {
  width: 100%;
}

.item p.personal {
/*    text-align: center;*/
    font-size: 14px;
}

